.p-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bp.png");
}

.r-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/br.png");
}

.n-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bn.png");
}

.b-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bb.png");
}

.q-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bq.png");
}

.k-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bk.png");
}

.P-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wp.png");
}

.R-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wr.png");
}

.N-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wn.png");
}

.B-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wb.png");
}

.Q-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wq.png");
}

.K-piece {
  background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wk.png");
}
