* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #312e2b;
}

.titulo {
  color: #eeeed2;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablero {
  position: relative;
  display: grid;
  border-radius: 5px;
  overflow: hidden;
}

.casilla {
  width: 100%;
  height: 100%;
  background: #333;
}

.contenedor-piezas {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pieza {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  cursor: grab;
  transition: 0.5s;
  background-size: contain;
  z-index: 100;
}

.pieza .drag-image {
  cursor: auto;
  opacity: 1;
}

.casilla-green {
  background: #769656;
}

.casilla-white {
  background: #eeeed2;
}

.selected {
  background: #bbcb2b;
}

.posibles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.posibles::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: #0000000d;
  background: #333;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
