.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablero {
  position: relative;
  display: grid;
}

.casilla {
  width: 100%;
  height: 100%;
  background: #333;
}

.contenedor-piezas {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pieza {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  cursor: grab;
  transition: 0.5s;
  background-size: contain;
  z-index: 100;
}

.pieza .drag-image {
  cursor: auto;
  opacity: 1;
}

.casilla-green {
  background: #769656;
}

.casilla-white {
  background: #eeeed2;
}

.selected {
  background: #bbcb2b;
}

.posibles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.posibles::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  background: #333a;
  border-radius: 50%;
}
