.tablero {
  position: relative;
  display: grid;
  gap: 1px;
}

.casilla {
  width: 100%;
  height: 100%;
  background: #111;
}

.contenedor-piezas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pieza {
  position: absolute;
  background: red;
  transition: 1s;
}
